#home {
    background:url('../Imagens/Android/Android_17.jpg') no-repeat top center;
    background-size: 100% auto;
}

#portifolio{
	background:url('../Imagens/Android/Android_17.jpg') no-repeat top center;
    background-size: 100% auto;
}


#contato{
	background:url('../Imagens/Android/Android_17.jpg') no-repeat top center;
    background-size: 100% auto;
}


#android{
	background:url('../Imagens/Android/Android_11.jpg') no-repeat top center;
    background-size: 100% auto;
}

#senchaTouch{
	background:url('../Imagens/SenchaTouch/senchatouch_1.jpg') no-repeat top center;
    background-size: 100% auto;
}

#php{
	background:url('../Imagens/Php/php_2.jpg') no-repeat top center;
    background-size: 100% auto;
}

#java{
	background:url('../Imagens/Java/java_2.jpeg') no-repeat top center;
    background-size: 100% auto;
}

#cobol{
	background:url('../Imagens/Cobol/cobol_2.jpg') no-repeat top center;
    background-size: 100% auto;
}

#artigos{
	background:url('../Imagens/Java/java_3.jpeg') no-repeat top center;
    background-size: 100% auto;
}
